/SmartCore.Infrastructure/bin
/SmartCore.Infrastructure/obj
/SmartCore.Middleware/bin
/SmartCore.Middleware/obj
/SmartCore.Services/obj
/SmartCore.Services/bin
/SmartCore.WebApi/bin
/SmartCore.WebApi/obj
/.vs
/SmartCore.WebApi/.vs
/SmartCore.Repository/obj
/SmartCore.Repository/bin
/SmartCore.Models/obj
/SmartCore.Models/bin
/Dapper/bin
/Dapper/obj
/Dapper.Contrib/bin
/Dapper.Contrib/obj
/SmartCore.ConfigCenter.Apollo/bin
/SmartCore.ConfigCenter.Apollo/obj
/SmartCore.ConfigCenter.ApolloConfig/bin
/SmartCore.ConfigCenter.ApolloConfig/obj
/SmartCore.Consol.Market/bin
/SmartCore.Consol.Market/obj
/SmartCore.Consol.UserCenter/bin
/SmartCore.Consol.UserCenter/obj
