/SmartCore.Infrastructure/bin
/SmartCore.Infrastructure/obj
/SmartCore.Middleware/bin
/SmartCore.Middleware/obj
/SmartCore.Services/obj
/SmartCore.Services/bin
/SmartCore.WebApi/bin
/SmartCore.WebApi/obj
/.vs
/SmartCore.WebApi/.vs
/SmartCore.Repository/obj
/SmartCore.Repository/bin
/SmartCore.Models/obj
/SmartCore.Models/bin
