<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!--<targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
    <target name="f1" xsi:type="File" fileName="f1.txt"/>
    <target name="f2" xsi:type="File" fileName="f2.txt"/>
  </targets>-->
  <!--<targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" FlushTimeout="10000">
      <wrapper-target xsi:type="AsyncWrapper"/>
    </default-wrapper>
  </targets>-->
  <!--<targets>
    --><!--ElasticSearch保存日志信息--><!--
    <target name="ElasticSearch" xsi:type="ElasticSearch" ConnectionStringName="ElasticSearchServerAddress"
            index="userapi-${date:format=yyyy.MM.dd}" documentType="doc" includeAllProperties="true"
                 layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${logger} ${message} ${exception:format=toString}">
      <field name="MachineName" layout="${machinename}" />
      <field name="Time" layout="${longdate}" />
      <field name="level" layout="${level:uppercase=true}" />
      <field name="logger" layout=" ${logger}" />
      <field name="message" layout=" ${message}" />
      <field name="exception" layout=" ${exception:format=toString}" />
      <field name="processid" layout=" ${processid}" />
      <field name="threadname" layout=" ${threadname}" />
      <field name="stacktrace" layout=" ${stacktrace}" />
      <field name="Properties" layout="${machinename} ${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}|${processid}|${stacktrace}|${threadname}" />
    </target>
  </targets>-->
  <targets async="true">
    <!--黑洞 忽略的日志-->
    <target xsi:type="Null" name="blackhole" />
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>
  <rules>
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 -->
    <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <!-- 除非调试需要，把系统的 Debug 输出都屏蔽 -->
    <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <!-- 记录应用程序的 Debug 输出 -->
    <logger name="SmartCore.*" minlevel="Debug" writeTo="allfile" />
    <!-- 记录所有日志级别不低于 Warn 的日志到日志文件 -->
    <logger name="*" minlevel="Info" writeTo="ERROR_LOG_FILE" />
  </rules>
</nlog>